@font-face {
    font-family: "Thunder";
    src: url("/assets/css/fonts/Thunder-ExtraBoldLC.woff") format("woff"),
        url("/assets/css/fonts/Thunder-ExtraBoldLC.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "RobotoCondensed";
    src: url("/assets/css/fonts/RobotoCondensed-Light.ttf") format("woff");
    font-display: swap;
}

@font-face {
    font-family: "Roboto";
    src: url("/assets/css/fonts/Roboto-Regular.ttf") format("woff");
    font-display: swap;
}

@font-face {
    font-family: "Oxanium";
    src: url("/assets/css/fonts/Oxanium-Medium.ttf") format("woff");
    src: url("/assets/css/fonts/Oxanium-Regular.ttf") format("woff");
    src: url("/assets/css/fonts/Oxanium-Light.ttf") format("woff");
    font-display: swap;
}

@font-face {
    font-family: "Dynalight";
    src: url("/assets/css/fonts/Dynalight-Regular.ttf") format("woff");
    font-display: swap;
}

@font-face {
    font-family: "IropkeBatangM";
    src: url("/assets/css/fonts/IropkeBatangM.woff") format("woff");
    font-display: swap;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    cursor: none;
    overflow-x: hidden;
}

.container {
    width: 100%;
    height: 1080px;
    background: linear-gradient(rgba(17, 16, 16, 0.768), rgba(17, 16, 16, 0.884)), url('/assets/img/bg.jpg');
    background-size: cover;
    position: relative;
    margin: 0 auto;
    background-color: #11101065;
}

.header__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    text-align: center;
    position: relative;
}

.nav {
    position: absolute;
    top: 20px;
    right: 20px;
}

.nav a {
    color: #FAEDBF;
    text-decoration: none;
    margin: 0 10px;
    font-size: 18px;
    font-family: "Roboto";
}

.title {
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 23px;
    color: #FAEDBF;
    /* font-family: "RobotoCondensed"; */
}

.content {
    position: absolute;
    top: 35%;
    left: 10%;
    transform: translateY(-35%);
    text-align: left;
}

.content .developer {
    font-size: 12vw;
    font-family: "Thunder";
    color: #FAEDBF;
    margin-left: -80px;
}

.content .portfolio {
    font-size: 12vw;
    line-height: 9vw;
    font-family: "Thunder";
    color: #FAEDBF;
    margin-left: -46px;
    position: relative;
}

.pro {
    font-family: "Dynalight";
    font-size: 10vw;
    color: #741BD4;
    position: inherit;
    top: 42%;
    left: 98%;
    transform: translate(-50%, -50%);
}

.content h2 {
    font-size: 12vw;
    font-family: "Thunder";
    color: #FAEDBF;
    position: relative;
    left: 36vw;
    top: 14vw;
}

.description {
    font-size: 1.2vw;
    margin-top: 20px;
    color: #FAEDBF;
    font-family: "Oxanium";
    line-height: 1.5;
    position: relative;
    top: 14px;
    right: 68px;
}

.scroll {
    font-size: 22px;
    background-color: #6f42c1;
    font-family: "Oxanium";
    color: #FAEDBF;
    cursor: pointer;
    border-radius: 280px;
    border: none;
    margin-top: 10px;
    position: relative;
    top: 20px;
    right: 70px;
    padding: 14px 40px;
}

.profile-pic {
    position: absolute;
    transform: translate(50%, 50%);
    z-index: 10000;
}

.placeholder {
    width: 15.5vw;
    height: 16.5vw;
    border-radius: 50%;
    margin-left: 38vw;
    margin-top: -5vw;
    object-fit: cover;

}

#section2 {
    height: 100vh;
    background-color: #000;
}

.mv {
    font-size: 1.3vw;
    color: #FBF0C2;
    padding: 8.3rem;
    text-align: center;
    padding-bottom: 3.9rem;
    font-family: "Roboto";
}

.title2 {
    font-size: 6rem;
    color: #741BD4;
    text-align: center;
    line-height: 0.9;
    font-family: "Thunder";
    padding-bottom: 5rem;
}

.p1 {
    color: #FBF0C2;
    text-align: center;
    font-family: "IropkeBatangM";
    line-height: 2;
}

.p2 {
    color: #FBF0C2;
    text-align: center;
    font-family: "IropkeBatangM";
    line-height: 2;
}

#section3 {
    display: flex;
    flex-direction: column;
    height: 130vh;
    align-items: center;
    background-image: url(/assets/img/bg2.jpg);
    background-color: #000;
    background-size: cover;
    background-position: center;
    position: relative;
}

.skill {
    margin: 25px 2px;
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    padding-left: 80px;
    padding-right: 80px;
    margin-top: 60px;
    gap: 12px;
}

.skill-left {
    flex-direction: row;
}

.skill-right {
    flex-direction: row-reverse;
}

.title3 {
    font-size: 6vw;
    font-family: "Thunder";
    color: #FBF0C2;
    margin: 0;
}

.desc {
    font-size: 0.8vw;
    color: #FBF0C2;
    font-family: "IropkeBatangM";
    text-align: unset;
    width: 390px;
}

.percent {
    background-color: #741BD4;
    color: white;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
    position: fixed;
    top: 0;
    left: 0;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: none;
    transition: transform 0.3s;
    font-weight: bold;
}

.skill:hover .desc::after {
    content: attr(data-percent);
    position: absolute;
    color: #741BD4;
    top: 10px;
    right: 10px;
    font-size: 30px;
}

#section4 {
    height: 100vh;
    background-color: #0a0a0b;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    /* 추가 */
}

.cube-container {
    display: flex;
    align-items: center;
    justify-content: center;
    perspective: 1500px;
    position: relative;
}

.cube1,
.cube2 {
    width: 400px;
    height: 400px;
    transform-style: preserve-3d;
    transform: rotateX(0) rotateY(0);
    transition: transform 1s;
    position: relative;
}

.face {
    position: absolute;
    width: 400px;
    height: 400px;
    background: #751AD4;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 6vw;
    font-family: "Thunder";
    color: #FBF0C2;
    border: 1px solid #000;
}

.back span {
    transform: rotate(180deg);
    /* 텍스트를 다시 회전시킴 */
}

span {
    position: relative;
}

.front_img {
    position: absolute;
    top: 86px;
    width: 100px;
    height: 100px;
    border-radius: 100%;
    background-image: url(/assets/img/chicken.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.front_img1 {
    position: absolute;
    top: 208px;
    width: 100px;
    height: 100px;
    border-radius: 100%;
    background-image: url(/assets/img/movie.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.front_img1 {
    transform: rotate(180deg);
    /* 텍스트를 다시 회전시킴 */
}

.front_img2 {
    position: absolute;
    top: 86px;
    width: 100px;
    height: 100px;
    border-radius: 100%;
    background-image: url(/assets/img/pickstom.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.front_img3 {
    position: absolute;
    top: 86px;
    width: 100px;
    height: 100px;
    border-radius: 100%;
    background-image: url(/assets/img/music.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.face1 {
    position: absolute;
    width: 400px;
    height: 400px;
    background-image: url(/assets/img/bg3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #000;
    flex-direction: column;
}

h4 {
    font-size: 0.6vw;
    color: #FBF0C2;
    font-family: "IropkeBatangM";
    width: 340px;
}

h2 {
    color: #751AD4;
    text-align: center;
    padding-bottom: 10px;
    font-size: 6vw;
    font-family: "Thunder";

}

.vue {
    color: #751AD4;
    text-align: center;
    font-size: 6vw;
    font-family: "Thunder";
    top: 110px;
}

.vuedesc {
    font-size: 0.6vw;
    color: #FBF0C2;
    font-family: "IropkeBatangM";
    width: 244px;
    bottom: 68px;
}

.back.vue,
.back.vuedesc {
    transform: rotate(180deg);
    /* 텍스트를 다시 회전시킴 */
}

.button-container {
    width: 100%;
    display: flex;
    position: absolute;
    bottom: 0;
    gap: 2%;
    margin-bottom: 14px;
    margin-left: 14px;

}

.button-container1 {
    width: 100%;
    display: flex;
    position: absolute;
    gap: 2%;
    margin-bottom: 350px;
    margin-left: -18px;

}

.button-container1 {
    transform: rotate(180deg);
}

.button {
    background-color: #751AD4;
    padding: 6px 10px;
    bottom: 0;
}

.button1 {
    background-color: #751AD4;
    padding: 6px 10px;
    bottom: 0;
}

a {
    text-decoration: none;
    font-size: 12px;
    color: #fff;
    font-family: "Roboto";
}


.cube1 .front,
.cube2 .front {
    transform: rotateY(0deg) translateZ(200px);

}

.cube1 .back,
.cube2 .back {
    transform: rotateY(180deg) translateZ(200px);
}

.cube1 .left,
.cube2 .left {
    transform: rotateY(-90deg) translateZ(200px);
}

.cube1 .right,
.cube2 .right {
    transform: rotateY(90deg) translateZ(200px);
}

.cube1 .top,
.cube2 .top {
    transform: rotateX(90deg) translateZ(200px);
}

.cube1 .bottom,
.cube2 .bottom {
    transform: rotateX(-90deg) translateZ(200px);
}

#section5 {
    height: 100vh;
    background-color: #000;
}

@media (max-width: 1200px) {
    .content {
        position: static;
        text-align: center;
        transform: none;
    }

    .content .developer,
    .content .portfolio {
        font-size: 14vw;
        margin-left: 0;
        line-height: 12vw;
    }

    .pro {
        font-size: 10vw;
        left: 6%;
        top: -6%;
        transform: translate(-50%, -50%);
        position: relative;
    }

    .content h2 {
        font-size: 14vw;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }

    .description {
        text-align: center;
        right: 0;
        left: 0;
        top: auto;
        margin: 20px auto;
    }

    .scroll {
        display: block;
        margin: 20px auto;
        right: 0;
        left: 0;
        top: auto;
    }

    .profile-pic {
        position: relative;
        margin: 0 auto;
        z-index: 10000;
    }

    .placeholder {
        width: 20vw;
        height: 20vw;
        left: -46vw;
        bottom: 8vw;
        position: relative;
    }

    #section2 {
        height: 140vh;
    }

    .mv {
        font-size: 1.3vw;
        color: #FBF0C2;
        padding: 12.3rem;
        text-align: center;
    }

    .title3 {
        font-size: 12vw;
        font-family: "Thunder";
        color: #FBF0C2;
        margin: 0;
    }

    .desc {
        font-size: 1.2vw;
        color: #FBF0C2;
        font-family: "IropkeBatangM";
    }

    .cube-container {
        display: flex;
        align-items: center;
        justify-content: center;
        perspective: 93.75rem;
        position: relative;
    }

    .cube1,
    .cube2 {
        width: 25rem;
        height: 25rem;
        transform-style: preserve-3d;
        transform: rotateX(0) rotateY(0);
        transition: transform 1s;
        position: relative;
    }

    .face {
        position: absolute;
        width: 25rem;
        height: 25rem;
        background: #751AD4;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 6vw;
        font-family: "Thunder";
        color: #FBF0C2;
        border: 1px solid #000;
    }

    .face1 {
        position: absolute;
        width: 25rem;
        height: 25rem;
        background-image: url(/assets/img/bg3.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid #000;
        flex-direction: column;
    }
}